{#
/**
 * @file
 * Theme override to display a user page.
 */
#}
<div class="layout-container">
	{% if top_banner_text %}
		<div class="top-banner">
			{{ top_banner_text }}
		</div>
	{% endif %}

	<header role="banner">
		{{ page.header }}
	</header>

	<main role="main">
		<a id="main-content" tabindex="-1"></a>
		{# link is in html.html.twig #}

		<div class="layout-content">
			{# Explicitly exclude tabs from user pages #}
			{{ page.content|without('tabs') }}
		</div>
		{# /.layout-content #}

	</main>

	<footer role="contentinfo">
		{% if top_banner_text %}
			<div class="footer-text">
				{{ footer_text }}
			</div>
		{% endif %}
		{{ page.top_footer }}
		{{ page.bottom_footer }}
	</footer>

</div>
{# /.layout-container #}
