{#
/**
 * @file
 * Block template for Text Block with CTA block type.
 * Bridges Drupal content fields to the dcd:text-block-with-cta SDC component.
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% embed 'dcd:text-block-with-cta' with {
    title: content.field_title|render|striptags|trim,
    map_embed_url: content.field_map,
  } %}
    {% block body %}
      {{ content.body }}
    {% endblock %}
    {% block cta %}
      {{ content.field_cta_button_link }}
    {% endblock %}
    {% block image %}
      {{ content.field_image }}
    {% endblock %}
  {% endembed %}
</div>
